@use "../abstracts/variables" as *;

footer {
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  gap: 38px;

  &.home {
    background-color: $color-almost-black;
    color: $color-white;
  }

  &.default {
    background-color: $color-gold;
    color: $color-almost-black;
  }

  p {
    font-family: $font-outfit;
    font-size: 16px;
    line-height: 26px;
  }
}

.responsive-logo {
  width: 110px;
}

.socials {
  display: flex;
  gap: 20px;

  .home {
    path {
      fill: white;
      cursor: pointer;

      &:hover {
        fill: $color-gold;
      }
    }
  }
  .default {
    path {
      fill: $color-almost-black;
      cursor: pointer;

      &:hover {
        fill: $color-white;
      }
    }
  }
}

@media (min-width: 768px) {
  footer {
    padding: 56px 40px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  footer {
    padding: 80px 165px;
    p {
      font-size: $font-size-body-s;
      line-height: $line-height-body-s;
      width: 430px;
    }
  }
}
