$color-gold: #d5966c;
$color-white: #ffffff;
$color-almost-black: #151515;
$color-dark-grey: #444444;

// Font families
$font-big-shoulders-display: "Big Shoulders Display", sans-serif;
$font-outfit: "Outfit", sans-serif;

/* Font Sizes */
$font-size-heading-xl: 96px;
$font-size-heading-l: 70px;
$font-size-heading-m: 50px;
$font-size-heading-s: 36px;

$font-size-body-m: 22px;
$font-size-body-s: 18px;

/* Font Weights */
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

/* Line Heights */
$line-height-heading-xl: 88px;
$line-height-heading-l: 70px;
$line-height-heading-m: 50px;
$line-height-heading-s: 36px;

$line-height-body-m: 32px;
$line-height-body-s: 28px;
